/* resources/css/app.css */

/* 1. Import utama Tailwind v4 */
@import "tailwindcss";

/* 2. Definisi Tema (Warna & Font) langsung di sini */
@theme {
  /* Font */
  --font-sans: "Roboto serif", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Warna Custom (Sesuai gambar Anda) */
  --color-primary-blue: #003366;
  --color-secondary-yellow: #FFD700;
  --color-background-light: #F0F0FF;
}
